= form_for @feed do |f|
  -if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    Shows
  - Show.all.each do |show|
    .field
      = check_box_tag "feed[show_ids][]", show[:id], @feed.shows.include?(show), :id => "feed_show_#{show[:id]}"
      = label_tag "feed_show_#{show[:id]}", show.name
  .actions
    = f.submit 'Save'
