%h1 Listing shows

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @shows.each do |show|
    %tr
      %td= show.name
      %td= link_to 'Show', show
      %td= link_to 'Edit', edit_show_path(show)
      %td= link_to 'Destroy', show, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Show', new_show_path
